#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-title {
  color:aliceblue;
}

.calculator-container {
  border: 1px solid red;
  display: grid;
  gap: 10px;
  padding: 15px;
  background: #393939;
  border-radius: 12px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(6, 70px);
}

.display {
  grid-column: span 4;
  background: #000;
  color: #0f0;
  font-size: 1.8rem;
  text-align: right;
  padding: 10px;
  border-radius: 8px;
}

.increment, .decrement, .button, .operator, .clear {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.increment {
  grid-column: span 2;
  background: #3498db;
  color: #fff;
}

.decrement {
  grid-column: span 2;
  background: #9b59b6;
  color: #fff;
}

.button {
  background: #444;
  border: none;
  font-size: 1.2rem;
  color: white;
}

.button.active, .increment.active, .decrement.active {
  background-color: #cbd0d4;
  color: white;
}

.operator {
  background: #f39c12;
}

.clear {
  grid-column: span 4;
  background: #e74c3c;
}